--
-- PostgreSQL database dump
--

\restrict Ih2RQbZb268xCzMZTgGeRndCBLcbjXnvLmlbRIefy0wlxPklHdmkimTBwoaxMTJ

-- Dumped from database version 15.16
-- Dumped by pg_dump version 15.16

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: AnalyticsEvent; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AnalyticsEvent" (
    id text NOT NULL,
    "userId" text,
    event_type text NOT NULL,
    metadata jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."AnalyticsEvent" OWNER TO postgres;

--
-- Name: College; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."College" (
    id text NOT NULL,
    name text NOT NULL,
    domain text NOT NULL,
    subdomain text,
    logo text,
    location text,
    website text,
    "primaryColor" text DEFAULT '#000000'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."College" OWNER TO postgres;

--
-- Name: CollegeMembership; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."CollegeMembership" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "collegeId" text NOT NULL,
    role text DEFAULT 'student'::text NOT NULL,
    joined_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    status text DEFAULT 'PENDING'::text NOT NULL,
    batch text,
    "documentUrl" text
);


ALTER TABLE public."CollegeMembership" OWNER TO postgres;

--
-- Name: CollegeRequest; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."CollegeRequest" (
    id text NOT NULL,
    "requesterId" text NOT NULL,
    name text NOT NULL,
    domain text NOT NULL,
    subdomain text,
    logo text,
    website text,
    location text,
    description text,
    status text DEFAULT 'PENDING'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."CollegeRequest" OWNER TO postgres;

--
-- Name: Comment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Comment" (
    id text NOT NULL,
    "postId" text NOT NULL,
    "userId" text NOT NULL,
    content text NOT NULL,
    parent_comment_id text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Comment" OWNER TO postgres;

--
-- Name: Connection; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Connection" (
    id text NOT NULL,
    "senderId" text NOT NULL,
    "receiverId" text NOT NULL,
    status text DEFAULT 'pending'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Connection" OWNER TO postgres;

--
-- Name: Conversation; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Conversation" (
    id text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Conversation" OWNER TO postgres;

--
-- Name: ConversationMember; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ConversationMember" (
    id text NOT NULL,
    "conversationId" text NOT NULL,
    "userId" text NOT NULL
);


ALTER TABLE public."ConversationMember" OWNER TO postgres;

--
-- Name: Environment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Environment" (
    id text NOT NULL,
    "collegeId" text NOT NULL,
    name text NOT NULL,
    description text,
    icon text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Environment" OWNER TO postgres;

--
-- Name: EnvironmentMembership; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."EnvironmentMembership" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "environmentId" text NOT NULL
);


ALTER TABLE public."EnvironmentMembership" OWNER TO postgres;

--
-- Name: Event; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Event" (
    id text NOT NULL,
    "collegeId" text NOT NULL,
    title text NOT NULL,
    description text NOT NULL,
    location text,
    event_date timestamp(3) without time zone NOT NULL,
    "createdById" text NOT NULL
);


ALTER TABLE public."Event" OWNER TO postgres;

--
-- Name: EventAttendee; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."EventAttendee" (
    id text NOT NULL,
    "eventId" text NOT NULL,
    "userId" text NOT NULL
);


ALTER TABLE public."EventAttendee" OWNER TO postgres;

--
-- Name: Follow; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Follow" (
    id text NOT NULL,
    "followerId" text NOT NULL,
    "followingId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Follow" OWNER TO postgres;

--
-- Name: Job; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Job" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "collegeId" text NOT NULL,
    company text NOT NULL,
    role text NOT NULL,
    description text NOT NULL,
    location text,
    apply_link text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Job" OWNER TO postgres;

--
-- Name: JobApplication; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."JobApplication" (
    id text NOT NULL,
    "jobId" text NOT NULL,
    "userId" text NOT NULL,
    resume_url text NOT NULL,
    applied_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."JobApplication" OWNER TO postgres;

--
-- Name: MentorshipRequest; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."MentorshipRequest" (
    id text NOT NULL,
    "studentId" text NOT NULL,
    "alumniId" text NOT NULL,
    message text NOT NULL,
    status text DEFAULT 'pending'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."MentorshipRequest" OWNER TO postgres;

--
-- Name: Message; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Message" (
    id text NOT NULL,
    content text NOT NULL,
    media_url text,
    "senderId" text NOT NULL,
    "conversationId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Message" OWNER TO postgres;

--
-- Name: Notification; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Notification" (
    id text NOT NULL,
    "userId" text NOT NULL,
    type text NOT NULL,
    reference_id text,
    message text NOT NULL,
    is_read boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Notification" OWNER TO postgres;

--
-- Name: Post; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Post" (
    id text NOT NULL,
    content text NOT NULL,
    media_url text,
    post_type text DEFAULT 'general'::text NOT NULL,
    visibility text DEFAULT 'college'::text NOT NULL,
    "authorId" text NOT NULL,
    "collegeId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    metadata jsonb
);


ALTER TABLE public."Post" OWNER TO postgres;

--
-- Name: PostLike; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."PostLike" (
    id text NOT NULL,
    "postId" text NOT NULL,
    "userId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."PostLike" OWNER TO postgres;

--
-- Name: PostMedia; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."PostMedia" (
    id text NOT NULL,
    url text NOT NULL,
    type text NOT NULL,
    "postId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."PostMedia" OWNER TO postgres;

--
-- Name: Project; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Project" (
    id text NOT NULL,
    title text NOT NULL,
    description text NOT NULL,
    status text DEFAULT 'IDEA'::text NOT NULL,
    "ownerId" text NOT NULL,
    "collegeId" text NOT NULL,
    "repoUrl" text,
    "demoUrl" text,
    "lookingFor" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Project" OWNER TO postgres;

--
-- Name: ProjectHype; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ProjectHype" (
    id text NOT NULL,
    "projectId" text NOT NULL,
    "userId" text NOT NULL,
    weight integer DEFAULT 1 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."ProjectHype" OWNER TO postgres;

--
-- Name: ProjectMilestone; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ProjectMilestone" (
    id text NOT NULL,
    "projectId" text NOT NULL,
    title text NOT NULL,
    "isCompleted" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."ProjectMilestone" OWNER TO postgres;

--
-- Name: Report; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Report" (
    id text NOT NULL,
    "reporterId" text NOT NULL,
    content_type text NOT NULL,
    content_id text NOT NULL,
    reason text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Report" OWNER TO postgres;

--
-- Name: SavedPost; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."SavedPost" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "postId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."SavedPost" OWNER TO postgres;

--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id text NOT NULL,
    email text NOT NULL,
    password_hash text NOT NULL,
    name text NOT NULL,
    username text,
    avatar text,
    phone text,
    "linkedIn" text,
    bio text,
    batch_year integer,
    department text,
    profile_picture text,
    cover_picture text,
    location text,
    "reputationScore" integer DEFAULT 0 NOT NULL,
    role text DEFAULT 'student'::text NOT NULL,
    is_verified boolean DEFAULT false NOT NULL,
    "verificationLevel" text DEFAULT 'BASIC'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    pulse text,
    "pulseEmoji" text,
    "pulseUpdatedAt" timestamp(3) without time zone,
    "tierLevel" text DEFAULT 'Echo'::text NOT NULL
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Data for Name: AnalyticsEvent; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."AnalyticsEvent" (id, "userId", event_type, metadata, "createdAt") FROM stdin;
\.


--
-- Data for Name: College; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."College" (id, name, domain, subdomain, logo, location, website, "primaryColor", "createdAt", "updatedAt") FROM stdin;
cmn4x06yo0002ua76gkipuz3x	HBTU Kanpur	hbtu.edu.in	hbtu	\N	Kanpur, UP	https://hbtu.ac.in	#1A237E	2026-03-24 17:55:04.896	2026-03-24 17:55:04.896
\.


--
-- Data for Name: CollegeMembership; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: CollegeRequest; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."CollegeRequest" (id, "requesterId", name, domain, subdomain, logo, website, location, description, status, "createdAt") FROM stdin;
\.


--
-- Data for Name: Comment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Comment" (id, "postId", "userId", content, parent_comment_id, "createdAt") FROM stdin;
cmn5p17vm000531nwo5m9kmrz	cmn4yjx1a0005xz245li0hrzd	cmn4x5y3g0000fc4w5dcxgzah	hi	\N	2026-03-25 06:59:41.986
cmn5rmclv000r31nwy0ncsfqg	cmn4ynh3p0007xz24avycb03o	cmn4x5y3g0000fc4w5dcxgzah	hi	\N	2026-03-25 08:12:07.122
cmn5ryrlg000v31nws94a9e3u	cmn4ynh3p0007xz24avycb03o	cmn4x5y3g0000fc4w5dcxgzah	hi	\N	2026-03-25 08:21:46.421
cmn5s6fj1001331nw9vmrua97	cmn4ynh3p0007xz24avycb03o	cmn4xmso80000c4uow9fb8qfs	hi	\N	2026-03-25 08:27:44.03
\.


--
-- Data for Name: Connection; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Connection" (id, "senderId", "receiverId", status, "createdAt") FROM stdin;
cmn4yjp240001xz24r0z36oe3	cmn4xmso80000c4uow9fb8qfs	cmn4x5y3g0000fc4w5dcxgzah	accepted	2026-03-24 18:38:14.428
cmn7dri8f0001xnnm232fc050	cmn4x5y3g0000fc4w5dcxgzah	cmn4x06w00000ua764i63eiv5	pending	2026-03-26 11:19:45.424
\.


--
-- Data for Name: Conversation; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Conversation" (id, "createdAt", "updatedAt") FROM stdin;
cmn5r6hyb000g31nwb5m8v22d	2026-03-25 07:59:47.554	2026-03-25 08:08:17.753
\.


--
-- Data for Name: ConversationMember; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ConversationMember" (id, "conversationId", "userId") FROM stdin;
cmn5r6hyd000i31nwbx5ulev1	cmn5r6hyb000g31nwb5m8v22d	cmn4x5y3g0000fc4w5dcxgzah
cmn5r6hyd000j31nwmff9ggt2	cmn5r6hyb000g31nwb5m8v22d	cmn4xmso80000c4uow9fb8qfs
\.


--
-- Data for Name: Environment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Environment" (id, "collegeId", name, description, icon, "createdAt") FROM stdin;
\.


--
-- Data for Name: EnvironmentMembership; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."EnvironmentMembership" (id, "userId", "environmentId") FROM stdin;
\.


--
-- Data for Name: Event; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Event" (id, "collegeId", title, description, location, event_date, "createdById") FROM stdin;
\.


--
-- Data for Name: EventAttendee; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."EventAttendee" (id, "eventId", "userId") FROM stdin;
\.


--
-- Data for Name: Follow; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Follow" (id, "followerId", "followingId", "createdAt") FROM stdin;
\.


--
-- Data for Name: Job; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Job" (id, "userId", "collegeId", company, role, description, location, apply_link, "createdAt") FROM stdin;
\.


--
-- Data for Name: JobApplication; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."JobApplication" (id, "jobId", "userId", resume_url, applied_at) FROM stdin;
\.


--
-- Data for Name: MentorshipRequest; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."MentorshipRequest" (id, "studentId", "alumniId", message, status, "createdAt") FROM stdin;
\.


--
-- Data for Name: Message; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Message" (id, content, media_url, "senderId", "conversationId", "createdAt") FROM stdin;
cmn5r6hyx000l31nwnxye0pxs	hi	\N	cmn4x5y3g0000fc4w5dcxgzah	cmn5r6hyb000g31nwb5m8v22d	2026-03-25 07:59:47.578
cmn5r97op000n31nw04uyb0jq	hi	\N	cmn4x5y3g0000fc4w5dcxgzah	cmn5r6hyb000g31nwb5m8v22d	2026-03-25 08:01:54.216
cmn5rhfm9000p31nwicmk58pq	hi	\N	cmn4xmso80000c4uow9fb8qfs	cmn5r6hyb000g31nwb5m8v22d	2026-03-25 08:08:17.745
\.


--
-- Data for Name: Notification; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Post; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: PostLike; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."PostLike" (id, "postId", "userId", "createdAt") FROM stdin;
cmn5p11i9000131nw5ybrbqdr	cmn4yjx1a0005xz245li0hrzd	cmn4x5y3g0000fc4w5dcxgzah	2026-03-25 06:59:33.729
cmn5p6vvd000931nwtdxzz8qj	cmn4ynh3p0007xz24avycb03o	cmn4x5y3g0000fc4w5dcxgzah	2026-03-25 07:04:06.362
cmn5s3lnh000z31nwaykeoc9i	cmn4ynh3p0007xz24avycb03o	cmn4xmso80000c4uow9fb8qfs	2026-03-25 08:25:31.997
cmn5s3og5001131nw122kpyta	cmn4yjx1a0005xz245li0hrzd	cmn4xmso80000c4uow9fb8qfs	2026-03-25 08:25:35.621
cmn7dpczw000111g4fodultyw	cmn7cwtpk00018auqui34smu4	cmn4x5y3g0000fc4w5dcxgzah	2026-03-26 11:18:05.324
\.


--
-- Data for Name: PostMedia; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."PostMedia" (id, url, type, "postId", "createdAt") FROM stdin;
\.


--
-- Data for Name: Project; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Project" (id, title, description, status, "ownerId", "collegeId", "repoUrl", "demoUrl", "lookingFor", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: ProjectHype; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ProjectHype" (id, "projectId", "userId", weight, "createdAt") FROM stdin;
\.


--
-- Data for Name: ProjectMilestone; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ProjectMilestone" (id, "projectId", title, "isCompleted", "createdAt") FROM stdin;
\.


--
-- Data for Name: Report; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Report" (id, "reporterId", content_type, content_id, reason, "createdAt") FROM stdin;
\.


--
-- Data for Name: SavedPost; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."SavedPost" (id, "userId", "postId", "createdAt") FROM stdin;
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: AnalyticsEvent AnalyticsEvent_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AnalyticsEvent"
    ADD CONSTRAINT "AnalyticsEvent_pkey" PRIMARY KEY (id);


--
-- Name: CollegeMembership CollegeMembership_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CollegeMembership"
    ADD CONSTRAINT "CollegeMembership_pkey" PRIMARY KEY (id);


--
-- Name: CollegeRequest CollegeRequest_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CollegeRequest"
    ADD CONSTRAINT "CollegeRequest_pkey" PRIMARY KEY (id);


--
-- Name: College College_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."College"
    ADD CONSTRAINT "College_pkey" PRIMARY KEY (id);


--
-- Name: Comment Comment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Comment"
    ADD CONSTRAINT "Comment_pkey" PRIMARY KEY (id);


--
-- Name: Connection Connection_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Connection"
    ADD CONSTRAINT "Connection_pkey" PRIMARY KEY (id);


--
-- Name: ConversationMember ConversationMember_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ConversationMember"
    ADD CONSTRAINT "ConversationMember_pkey" PRIMARY KEY (id);


--
-- Name: Conversation Conversation_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Conversation"
    ADD CONSTRAINT "Conversation_pkey" PRIMARY KEY (id);


--
-- Name: EnvironmentMembership EnvironmentMembership_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EnvironmentMembership"
    ADD CONSTRAINT "EnvironmentMembership_pkey" PRIMARY KEY (id);


--
-- Name: Environment Environment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Environment"
    ADD CONSTRAINT "Environment_pkey" PRIMARY KEY (id);


--
-- Name: EventAttendee EventAttendee_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EventAttendee"
    ADD CONSTRAINT "EventAttendee_pkey" PRIMARY KEY (id);


--
-- Name: Event Event_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Event"
    ADD CONSTRAINT "Event_pkey" PRIMARY KEY (id);


--
-- Name: Follow Follow_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Follow"
    ADD CONSTRAINT "Follow_pkey" PRIMARY KEY (id);


--
-- Name: JobApplication JobApplication_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."JobApplication"
    ADD CONSTRAINT "JobApplication_pkey" PRIMARY KEY (id);


--
-- Name: Job Job_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Job"
    ADD CONSTRAINT "Job_pkey" PRIMARY KEY (id);


--
-- Name: MentorshipRequest MentorshipRequest_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MentorshipRequest"
    ADD CONSTRAINT "MentorshipRequest_pkey" PRIMARY KEY (id);


--
-- Name: Message Message_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Message"
    ADD CONSTRAINT "Message_pkey" PRIMARY KEY (id);


--
-- Name: Notification Notification_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_pkey" PRIMARY KEY (id);


--
-- Name: PostLike PostLike_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PostLike"
    ADD CONSTRAINT "PostLike_pkey" PRIMARY KEY (id);


--
-- Name: PostMedia PostMedia_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PostMedia"
    ADD CONSTRAINT "PostMedia_pkey" PRIMARY KEY (id);


--
-- Name: Post Post_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Post"
    ADD CONSTRAINT "Post_pkey" PRIMARY KEY (id);


--
-- Name: ProjectHype ProjectHype_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ProjectHype"
    ADD CONSTRAINT "ProjectHype_pkey" PRIMARY KEY (id);


--
-- Name: ProjectMilestone ProjectMilestone_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ProjectMilestone"
    ADD CONSTRAINT "ProjectMilestone_pkey" PRIMARY KEY (id);


--
-- Name: Project Project_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Project"
    ADD CONSTRAINT "Project_pkey" PRIMARY KEY (id);


--
-- Name: Report Report_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Report"
    ADD CONSTRAINT "Report_pkey" PRIMARY KEY (id);


--
-- Name: SavedPost SavedPost_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SavedPost"
    ADD CONSTRAINT "SavedPost_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: CollegeMembership_userId_collegeId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "CollegeMembership_userId_collegeId_key" ON public."CollegeMembership" USING btree ("userId", "collegeId");


--
-- Name: College_domain_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "College_domain_key" ON public."College" USING btree (domain);


--
-- Name: College_subdomain_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "College_subdomain_key" ON public."College" USING btree (subdomain);


--
-- Name: EnvironmentMembership_userId_environmentId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "EnvironmentMembership_userId_environmentId_key" ON public."EnvironmentMembership" USING btree ("userId", "environmentId");


--
-- Name: Follow_followerId_followingId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Follow_followerId_followingId_key" ON public."Follow" USING btree ("followerId", "followingId");


--
-- Name: PostLike_postId_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "PostLike_postId_userId_key" ON public."PostLike" USING btree ("postId", "userId");


--
-- Name: ProjectHype_projectId_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "ProjectHype_projectId_userId_key" ON public."ProjectHype" USING btree ("projectId", "userId");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: User_phone_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_phone_key" ON public."User" USING btree (phone);


--
-- Name: User_username_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_username_key" ON public."User" USING btree (username);


--
-- Name: AnalyticsEvent AnalyticsEvent_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AnalyticsEvent"
    ADD CONSTRAINT "AnalyticsEvent_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: CollegeMembership CollegeMembership_collegeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CollegeMembership"
    ADD CONSTRAINT "CollegeMembership_collegeId_fkey" FOREIGN KEY ("collegeId") REFERENCES public."College"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CollegeMembership CollegeMembership_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CollegeMembership"
    ADD CONSTRAINT "CollegeMembership_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CollegeRequest CollegeRequest_requesterId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CollegeRequest"
    ADD CONSTRAINT "CollegeRequest_requesterId_fkey" FOREIGN KEY ("requesterId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Comment Comment_parent_comment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Comment"
    ADD CONSTRAINT "Comment_parent_comment_id_fkey" FOREIGN KEY (parent_comment_id) REFERENCES public."Comment"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Comment Comment_postId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Comment"
    ADD CONSTRAINT "Comment_postId_fkey" FOREIGN KEY ("postId") REFERENCES public."Post"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Comment Comment_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Comment"
    ADD CONSTRAINT "Comment_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Connection Connection_receiverId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Connection"
    ADD CONSTRAINT "Connection_receiverId_fkey" FOREIGN KEY ("receiverId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Connection Connection_senderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Connection"
    ADD CONSTRAINT "Connection_senderId_fkey" FOREIGN KEY ("senderId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ConversationMember ConversationMember_conversationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ConversationMember"
    ADD CONSTRAINT "ConversationMember_conversationId_fkey" FOREIGN KEY ("conversationId") REFERENCES public."Conversation"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ConversationMember ConversationMember_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ConversationMember"
    ADD CONSTRAINT "ConversationMember_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: EnvironmentMembership EnvironmentMembership_environmentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EnvironmentMembership"
    ADD CONSTRAINT "EnvironmentMembership_environmentId_fkey" FOREIGN KEY ("environmentId") REFERENCES public."Environment"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: EnvironmentMembership EnvironmentMembership_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EnvironmentMembership"
    ADD CONSTRAINT "EnvironmentMembership_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Environment Environment_collegeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Environment"
    ADD CONSTRAINT "Environment_collegeId_fkey" FOREIGN KEY ("collegeId") REFERENCES public."College"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: EventAttendee EventAttendee_eventId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EventAttendee"
    ADD CONSTRAINT "EventAttendee_eventId_fkey" FOREIGN KEY ("eventId") REFERENCES public."Event"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: EventAttendee EventAttendee_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EventAttendee"
    ADD CONSTRAINT "EventAttendee_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Event Event_collegeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Event"
    ADD CONSTRAINT "Event_collegeId_fkey" FOREIGN KEY ("collegeId") REFERENCES public."College"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Event Event_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Event"
    ADD CONSTRAINT "Event_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Follow Follow_followerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Follow"
    ADD CONSTRAINT "Follow_followerId_fkey" FOREIGN KEY ("followerId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Follow Follow_followingId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Follow"
    ADD CONSTRAINT "Follow_followingId_fkey" FOREIGN KEY ("followingId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: JobApplication JobApplication_jobId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."JobApplication"
    ADD CONSTRAINT "JobApplication_jobId_fkey" FOREIGN KEY ("jobId") REFERENCES public."Job"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: JobApplication JobApplication_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."JobApplication"
    ADD CONSTRAINT "JobApplication_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Job Job_collegeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Job"
    ADD CONSTRAINT "Job_collegeId_fkey" FOREIGN KEY ("collegeId") REFERENCES public."College"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Job Job_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Job"
    ADD CONSTRAINT "Job_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: MentorshipRequest MentorshipRequest_alumniId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MentorshipRequest"
    ADD CONSTRAINT "MentorshipRequest_alumniId_fkey" FOREIGN KEY ("alumniId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: MentorshipRequest MentorshipRequest_studentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MentorshipRequest"
    ADD CONSTRAINT "MentorshipRequest_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Message Message_conversationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Message"
    ADD CONSTRAINT "Message_conversationId_fkey" FOREIGN KEY ("conversationId") REFERENCES public."Conversation"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Message Message_senderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Message"
    ADD CONSTRAINT "Message_senderId_fkey" FOREIGN KEY ("senderId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Notification Notification_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: PostLike PostLike_postId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PostLike"
    ADD CONSTRAINT "PostLike_postId_fkey" FOREIGN KEY ("postId") REFERENCES public."Post"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: PostLike PostLike_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PostLike"
    ADD CONSTRAINT "PostLike_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: PostMedia PostMedia_postId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PostMedia"
    ADD CONSTRAINT "PostMedia_postId_fkey" FOREIGN KEY ("postId") REFERENCES public."Post"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Post Post_authorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Post"
    ADD CONSTRAINT "Post_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Post Post_collegeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Post"
    ADD CONSTRAINT "Post_collegeId_fkey" FOREIGN KEY ("collegeId") REFERENCES public."College"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ProjectHype ProjectHype_projectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ProjectHype"
    ADD CONSTRAINT "ProjectHype_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES public."Project"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ProjectHype ProjectHype_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ProjectHype"
    ADD CONSTRAINT "ProjectHype_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ProjectMilestone ProjectMilestone_projectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ProjectMilestone"
    ADD CONSTRAINT "ProjectMilestone_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES public."Project"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Project Project_collegeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Project"
    ADD CONSTRAINT "Project_collegeId_fkey" FOREIGN KEY ("collegeId") REFERENCES public."College"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Project Project_ownerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Project"
    ADD CONSTRAINT "Project_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Report Report_reporterId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Report"
    ADD CONSTRAINT "Report_reporterId_fkey" FOREIGN KEY ("reporterId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SavedPost SavedPost_postId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SavedPost"
    ADD CONSTRAINT "SavedPost_postId_fkey" FOREIGN KEY ("postId") REFERENCES public."Post"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SavedPost SavedPost_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SavedPost"
    ADD CONSTRAINT "SavedPost_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict Ih2RQbZb268xCzMZTgGeRndCBLcbjXnvLmlbRIefy0wlxPklHdmkimTBwoaxMTJ

